<nav class="navbar navbar-expand-lg fixed-top"
	[ngClass]="{'hide-nav':!showNavbarOnScroll,'transition':showNavbarOnScroll,'scrolled':morphNavbar}">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="'/home'" *ngIf="morphNavbar" [@fadeIn]>
			<img src="/assets/images/ccba-black-logo.png" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
			<ul class="navbar-nav  mb-2 mb-lg-0">
				<li class="nav-item" *ngFor="let link of links;index as i" [@fadeIn]>
					<a class="nav-link" [routerLink]="[link.path]"
						[ngClass]="{'active-nav-item':router.url.includes(link.path)}"> {{link.title }} </a>
				</li>

				<li class="nav-item">
					<div class="lang-toggler">
						<div class="lang-item" [ngClass]="{'active-lang':currentLang === lang.title}" [title]="lang.alt"
							*ngFor="let lang of langFlags;index as i" (click)="selectLang(lang.title)" [@fadeIn]>
							<div class="flag-icon"> <img [src]="lang.icon" alt="flag"> </div>
							<span> {{lang.title}} </span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>