/* You can add global styles to this file, and also import other style files */
@import "./assets/css/font-montserrat.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";
// ng build  --base-href https://wess58.github.io/ccba/ --output-path docs && git add . && git commit -m "docs ready for deployment" && git push

:root {
  --app-primary: rgb(139, 0, 0);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  // background-color: #f8f9fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  letter-spacing: 1px;
}

* img::selection {
  background-color: transparent !important;
}

* img {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

* .btn,
* a,
* button {
  outline: none !important;
  box-shadow: none !important;
}

.btn,
button {
  border-radius: 5px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

input,
select,
textarea {
  border: 2px solid #e1e1e1 !important;
  outline: none !important;
  box-shadow: none !important;
  background-clip: padding-box !important;
  color: #5f6063 !important;
  border-radius: 7px !important;
}

::-ms-reveal {
  display: none;
}

input:active,
input:focus,
input:hover,
select:active,
select:focus,
select:hover,
textarea:active,
textarea:focus,
textarea:hover {
  border: 2px solid #3c4043 !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 40%;
}

input[type="checkbox"] {
  z-index: 100;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #3c4043;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

label {
  color: #3c4043;
  // font-weight: 600!important;
  font-size: 14px !important;
  margin-bottom: 5px !important;
  display: block;
}

* strong {
  font-weight: 600;
}

::selection {
  // color: #f1f1f1;
  // background-color: #80868b!important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #80868b99 !important;
  font-size: 12px;
  opacity: 1;
  font-family: "Didact Gothic", sans-serif !important;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #80868b99 !important;
  font-size: 12px;
  font-family: "Didact Gothic", sans-serif !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #80868b99 !important;
  font-size: 12px;
  font-family: "Didact Gothic", sans-serif !important;
}

.container-fluid {
  padding: 0;
}

.section-styling {
  .content {
    width: 420px;
    display: block;
    margin: 10vh auto;
    padding: 2vh 20px;
    position: relative;

    .brdr-left {
      height: 70%;
      width: 2px;
      background-color: #fff5;
      position: absolute;
      left: -20px;
      top: 0;
    }

    .section-title {
      font-size: 0.9rem;
      color: #fff;
      display: block;
      margin-bottom: 5vh;
    }

    .title {
      display: block;
      color: #fff;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 5vh;
    }

    .desc {
      display: block;
      line-height: 1.8rem;
      margin-bottom: 5vh;
      color: #fff;
      text-align: justify;
    }

    .btn-cta {
      background-color: transparent;
      border: 2px solid #fff;
      color: #fff;
      font-size: 0.9rem;
      font-weight: 500;
      border-radius: 8px;
    }
  }

  .bg-image {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100%;
  }
}

@media (max-width: 1390px) {
  body {
    zoom: 90%;
  }
}

@media (max-width: 900px) {
}
@media (max-width: 770px) {
}
