/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --tiara-primary: #18224b;
  --tiara-secondary: #03ada6;
  --tiara-tertiary: #81c341;
  --tiara-other: #480045;
  --navbar-height: 64px;
  --white-people: #ffb6b6;
  --black-people: #a0616a;
}
html {
  scroll-behavior: smooth;
}

body {
//   font-family: "Didact Gothic", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  // background-color: #f8f9fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  letter-spacing: 1px;
}

* img::selection {
  background-color: transparent !important;
}

* img {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

* .btn,
* a,
* button {
  outline: none !important;
  box-shadow: none !important;
}

.btn,
button {
  border-radius: 5px;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

input,
select,
textarea {
  border: 2px solid #e1e1e1 !important;
  outline: none !important;
  box-shadow: none !important;
  background-clip: padding-box !important;
  color: #5f6063 !important;
  border-radius: 7px !important;
}

::-ms-reveal {
  display: none;
}

input:active,
input:focus,
input:hover,
select:active,
select:focus,
select:hover,
textarea:active,
textarea:focus,
textarea:hover {
  border: 2px solid #3c4043 !important;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 40%;
}

input[type="checkbox"] {
  z-index: 100;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #3c4043;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

label {
  color: #3c4043;
  // font-weight: 600!important;
  font-size: 14px !important;
  margin-bottom: 5px !important;
  display: block;
}

* strong {
  font-weight: 600;
}

::selection {
  // color: #f1f1f1;
  // background-color: #80868b!important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #80868b99 !important;
  font-size: 12px;
  opacity: 1;
  font-family: "Didact Gothic", sans-serif !important;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #80868b99 !important;
  font-size: 12px;
  font-family: "Didact Gothic", sans-serif !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #80868b99 !important;
  font-size: 12px;
  font-family: "Didact Gothic", sans-serif !important;
}
